<h1>Your Cart</h1>
<% @cart_contents.each do |variant_id, products| %>
  <% variant = Variant.find_by(id: variant_id) %>
  <h2><%= variant.name %></h2>
  <% products.each do |product_id, quantity| %>
    <% product = Product.find_by(id: product_id) %>
    <p><%= product.size.name %>: <%= quantity %></p>
  <% end %>
<% end %>
